/* start global  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    transition: 2s;
}
.container{
    margin-top:100px;
    padding: 0 20px;
}
video{
    display: none;
}
ul{
    list-style: none;
}


a{
    text-decoration: none;
    color: rgb(102, 47, 47);
    transition: 1s;
}
a:hover{
    color: rgb(240, 164, 72);
}

.container > div{
    margin-bottom:75px ;
}
/* end global */

/* start navbar  */
#nav-bar{
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
    width: 100%;
}
.logo{
    height: 80px;
}
ul{
    display: flex;
    gap: 20px;
    padding: 10px;
}
/* end navbar  */

.products{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top:20px ;
    flex-direction:row;
}
.heading{
    display: block;
    color: blueviolet;
    padding: 20px;
    margin: 20px auto;
    width: fit-content;
    border-bottom: brown 2px solid;
    transition: 100ms;
}
.heading:hover{
    border: brown 2px solid ;
    background-color: wheat;
}
.products .product{
    border: red 1px solid;
   padding: 20px;
   background-color: rgb(186, 203, 218);
   border-radius: 30px;

}
.products .product span{
    display: block;
    margin: 20px auto;
    color: white;
    background-color: green;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
}
.products .product h3{
    color: rgb(57, 49, 49);
    display: block;
    margin: 10px auto;
    width: fit-content;
}
.products .product img{
    height: 250px;
}



/* strat services */
.services{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.srv{
    border: red 1px solid;
    width: 400px;
    padding: 20px;
    border-radius: 30px;
}
.srv i{
    color: tomato;
}
/* end services */

/* start contact */
input[type="text"],input[type="email"]{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px;
    background-color: rgb(216, 202, 202);
    outline: none;
    border: none;
}

#submit{
    display: block;
    width: fit-content;
    margin: 20px auto;
    transition:200ms;
    padding: 20px;
    background-color: rgb(216, 202, 202);
    outline: none;
    border: none;
}
#submit:hover{
    background-color: rgb(9, 129, 129);
    color: wheat;
}
/* end contact */


/* start footer  */
footer{
    width: 100%;
    background-color: rgb(71, 156, 202);
    padding: 10px;
}

i{
    font-size: 30px;
    color:white;
    transition: 1s;
    margin: 4px;
}
footer div{
    margin: 5px auto;
    width: fit-content;
}
footer i:hover {
    color: rgb(240, 164, 72);
}
footer span{
    display:block;
    width: fit-content;
    margin: 4px auto;
}
/* end footer  */

/* start media query for all */
@media (max-width:720px) {
    .products,.services{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .srv{
        width: 250px;
    }
    header li{
        font-size: small;
    }
}
/* end media query for all */
